<template>
  <div>
  </div>

</template>

<script>

export default {
  name: 'Dealer',
  data() {
    return {
    }
  },
  created() {
  },
  mounted() {
  },
  computed: {
  },
  components: {
  },
  methods: {
    draw: function (){

    },
    stand: function (){

    },
    toggle: function (){

    }
  }
}
</script>
<style>

</style>
