<template>
  <div>
    <button class="button" v-on:click="draw()">Draw a new card</button>
    <button class="button" v-on:click="stand()">Stand (end round)</button>
    <button class="button" v-on:click="toggle()">Toggle the value of an Ace card</button>
    {{ playerName }}
    <div>
      <img :src=getFirstCard.image>
      <p>Code: {{ getFirstCard.code }}</p>
      <p>Value: {{ getFirstCard.value }}</p>
      <p>Suit: {{ getFirstCard.suit }}</p>
    </div>


  </div>

</template>

<script>
import {drawCards, drawOneCard, fetchDeck} from "@/api/questionsAPI";


export default {
  name: 'Play',
  props: {
    playerName: {
      type: String,
    }
  },
  data() {
    return {
      deck_id: "",
      response: [],
      cardsList: [{}]
    }
  },
  created() {
    fetchDeck().then(s => {
      this.response = s
      this.deck_id = s.deck_id
    }).catch(error => {
      this.error = error.message
      console.error(error.message)
    })
  },
  mounted() {
    setTimeout(() => {
      this.draw();
    }, 2000);

  },
  computed: {
    getFirstCard: function () {
      return this.cardsList[0]
    },
  },
  components: {},
  methods: {
    draw() {
      drawCards(this.deck_id).then(s => {
        this.cardsList = s.cards

      }).catch(error => {
        this.error = error.message
        console.error(error.message)
      })
    },
    stand: function () {
      this.cardsList.forEach(function (element) {
        element.value = this.transformValue(element.value)
      })
      const secondCard = this.getSecondCard()
      const firstCard = this.getFirstCard
      let total = firstCard.value + secondCard.value

      while (total > 17) {
        let newCard = {}
        drawOneCard(this.deck_id).then(s => {
          newCard = s
          newCard.value = this.transformValue(newCard.value)
          total += newCard.value
        }).catch(error => {
          this.error = error.message
          console.error(error.message)
        })
      }
      if (total <= 21) { // TODO: More calculations to fix
        alert("The dealer won.")
      } else {
        alert("The player won.")
      }

    },
    toggle: function () {

    },
    getSecondCard: function () {
      return this.cardsList[1]
    },
    transformValue: function (value) {
      if (value === "KING") {
        return "13"
      } else if (value === "QUEEN") {
        return "12"
      } else if (value === "JACK") {
        return "11"
      } else if (value === "ACE") {
        return "14"
      } else {
        return value
      }
    },
  }
}
</script>
<style>

</style>
