<template>
  <div>
    <button class="button" v-on:click="draw()">Draw a new card</button>
    <button class="button" v-on:click="stand()">Stand (end round)</button>
    <button class="button" v-on:click="toggle()">Toggle the value of an Ace card</button>


  </div>

</template>

<script>

export default {
  name: 'Player',
  data() {
    return {
    }
  },
  created() {
  },
  mounted() {
  },
  computed: {
  },
  components: {
  },
  methods: {
    draw: function (){

    },
    stand: function (){

    },
    toggle: function (){

    }
  }
}
</script>
<style>

</style>
