<template>
  <div class="area">
    <button v-on:click="drawFromCard()"> Draw card</button>

  </div>

</template>

<script>
import {fetchDeck} from "@/api/questionsAPI";
import {drawCards} from "@/api/questionsAPI";

export default {
  name: 'Questions',
  data() {
    return {
      deck_id:"",
      response: [],
      currentQuestionIndex: 0,
      cardsList:[{}]
    }
  },
  created() {
    fetchDeck().then(s => {
      this.response = s
      this.deck_id= s.deck_id
      console.log(this.response)

    }).catch(error => {
      this.error = error.message
      console.error(error.message)
    })
    console.log(this.deck_id)
  },
  methods: {
    drawFromCard(){
      console.log(this.deck_id)
      drawCards(this.deck_id).then(s => {
        this.cardList = s
        console.log(this.cardList)
      }).catch(error => {
        this.error = error.message
        console.error(error.message)
      })
    },
  }
}
</script>
<style>

</style>
