<template>
  <div>
    <h1>Start game</h1>
    <input v-model="playerName" placeholder="enter player name">
    <button class="button" v-on:click="start()">Start game</button>

  </div>
</template>

<script>

export default {
  name: 'StartScreen',
  data() {
    return {
      playerName: ''
    }
  },
  created() {

  },
  mounted() {

  },
  methods: {
    start: function(){
      this.$router.push({ name: 'Play', params: { playerName: this.playerName }})
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
